.textInput {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--neutral-500);
    font-size: 18px;
    font-weight: 500;
    color: var(--white-90);
    margin: auto;

}

.falseText {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 8px;
    /* border: 1px solid var(--white-90); */
    background-color: var(--neutral-500);

    font-size: 16px;
    font-weight: 500;
    color: var(--white-90);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.falseTextMini {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    border-radius: 4px;
    /* border: 1px solid var(--white-90); */
    background-color: var(--neutral-500);

    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: var(--white-90);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.textInput::placeholder {
    color: var(--white-30);
}

.textInput:focus {
    outline: 1px solid var(--secondary-orange-200);
    outline-offset: -1px;
    margin: auto;
}

.textInput:disabled {
    background-color: var(--neutral-300);
    color: var(--neutral-500);
    cursor: not-allowed;
}

.textFilled {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    color: var(--white-100);
    background-color: var(--primary-500);
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.passwordBox {
    width: 100%;
    position: relative;
    display: flex;

}

.label {
    font-size: 12px;
    font-weight: 600;
    color: var(--white-90);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.checkBoxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: auto;
    text-align: center;

}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--white-90);
    cursor: pointer;
}

.checkbox > svg {
    display: none;
}

.checked {
    background-color: var(--primary-500);
    border: none;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.checked > svg {
    display: block;
}


.checkBoxlabel {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: var(--white-90);
}

.radioContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.radio[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    font: inherit;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.15rem solid var(--white-90);
    border-radius: 50%;
    cursor: pointer;
    /* transform: translateY(-0.075rem); */
    margin: 0;
    display: grid;
    place-content: center;
    transition: 500ms transform ease-in-out;
}

.radio[type="radio"]::before {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 240ms transform var(--BEZIER);
    box-shadow: inset 0.6rem 0.6rem #fff;
    cursor: pointer;
}

.radio[type="radio"]:checked::before {
    transform: scale(1);

}

.radio[type="radio"]:checked {
    background-color: var(--primary-500);
    border: 0.15rem solid var(--primary-500);
}

.radioLabel {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Inter;
    letter-spacing: -0.08px;
    line-height: 2.4rem;
    color: var(--white-90);
    cursor: pointer;
}

.TextFilter {
    display: flex;
    align-items: center;
    position: relative;
}

.TextFilter>svg {
    position: absolute;
    right: 8px;
    top: 13px;
    cursor: pointer;
}

.error {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--secondary-red-400);
    margin: 0;
}

.success {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--GREEN1);
}

/* Time Picker CSS */

.inputWrapper {
    width: fit-content;
    position: relative;
}

.inputIcon2 {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8px;
}

.inputIcon2>svg {
    width: 14px;
    height: 14px;
}

.timeInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 50px;
    gap: 2px;
    border: none;
    background-color: #ECF0F3;
    width: 86px;
    border-radius: 30px;
    margin: 0;
    padding-right: 16px;
}

.timeInputDay {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    background-color: #ECF0F3;
    font-size: 14px;

}

.timeInput:focus {
    outline: none;
    border: none;
}

.timeInput {
    width: 3ch;
    border: none;
    height: 20px;
    margin: 0;
    text-align: center;
    background-color: #ECF0F3;
    font-size: 14px;

}

.timeInputDivider {
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: -2px;
    margin-right: -2px;
}

.inputIcon {
    margin: auto;
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.pickerInput {
    display: none;
}

.pickerPopup {
    background-color: var(--BLACK1-30);
    overflow: hidden;
}

/* Dropdown */

.dropdownLabel {
    white-space: nowrap;
}

.dropdownItems {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: #fff;
    box-shadow: 8px 3px 22px 10px #9696961C;
    padding: 16px 8px;
    border-radius: 16px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdownItems::-webkit-scrollbar {
    width: 2px;
    
}

.dropdownItem {
    transition: background-color 0.2s var(--BEZIER);
    padding: 0px 8px !important;
    border-radius: 999px;
    margin: 0 !important;
    position: relative;
    scroll-behavior: smooth;

}

.dropdownItem:hover {
    background-color: #017D734D;
}

.dropdownDivider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0;
    padding: 0px 8px !important;
}

.dropdownItem::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 16px);
    height: 1px;
    background-color: #E4E5E7;
    margin: 0;
}

/* Currency */

.currencyBeforeInput {
    padding-left: 34px;
}

.currencyBefore {
    position: relative;
}

.currencyBefore1 {
    position: relative;
}
.currencyBefore2 {
    position: relative;
}
.currencyBefore3 {
    position: relative;
}
/* .currencyBefore::after {
    content: "R$";
    display: inline;
    position: absolute;
    left: 8px;
    top: 38px;
    font-size: 16px;
    color: var(--white-90);
    font-weight: 500;
} */

.currencyBefore1::after {
    content: "cm";
    display: inline;
    position: absolute;
    left: 44px;
    top: 38px;
    font-size: 16px;
    color: var(--white-90);
    font-weight: 500;
}

.currencyBefore2::after {
    content: "cm";
    display: inline;
    position: absolute;
    left: 52px;
    top: 38px;
    font-size: 16px;
    color: var(--white-90);
    font-weight: 500;
}

.currencyBefore3::after {
    content: "cm";
    display: inline;
    position: absolute;
    left: 62px;
    top: 38px;
    font-size: 16px;
    color: var(--white-90);
    font-weight: 500;
}